@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<StackOverflowClone.Models.Post>


@using System.Security.Claims

<h2>Here are your posts, @User.Identity.Name</h2>
<hr />
@if (Model.Any())
{
    <ul>
        @foreach (var listPost in Model)
        {
            <li>@listPost.PostVote | @Html.ActionLink(listPost.Title, "Details", new { id = listPost.PostId })</li>
        }
    </ul>
}
else
{
    <p>No posts have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")